<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtQCWwmfnJ897skqjozRQ2b5zk9w1sZjo</string>
	<key>GCM_SENDER_ID</key>
	<string>996974133837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wowcut</string>
	<key>PROJECT_ID</key>
	<string>haircut-d6819</string>
	<key>STORAGE_BUCKET</key>
	<string>haircut-d6819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996974133837:ios:76ec93e1aeaec3729dd204</string>
</dict>
</plist>